.body.header-line {
    padding: 1%;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 7em;
    height: 7em;
}

.title {
    font-size: 4em;
    font-weight: lighter;
    color: brown;
}

.bar {
    visibility: hidden;
}

.top-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    opacity: 0.7;
    font-weight: bold;
    margin-bottom: 3%;
}

.main-image {
    width: 100%;
    height: 360px;
}

.headlines, .news {
    opacity: 0.5;
}

.news-at-end {
    opacity: 0.5;
}

figure {
    position: relative;
    max-width: 100%;
}

figcaption {
    position: absolute;
    bottom: 0;
    background-color: white;
    margin-left: 0.05%;
    margin-right: 0.05%;
    width: 100%;
}

.top-news, .latest-news-row, .contact-us {
    list-style: none;
    margin-top: 2%;
    margin-right: 2%;
    opacity: 0.8;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#score-table {
    width: 100%;
}

.table-head {
    background-color: darkcyan;
    opacity: 0.8;
    font-size: 1.1rem;
}

tr, td {
    height: 50px;
    text-align: center;
}

.table-row-1, .table-row-3, .table-row-5 {
    background-color: gainsboro;
}

.table-row-2, .table-row-4 {
    background-color: lightblue;
}

h2 {
    opacity: 0.8;
}

.weather-city {
    color: firebrick;
}

.weather-type {
    margin-top: -1%;
    color: firebrick;
}

.todays-weather {
    display: flex;
}

.todays-tempreture {
    margin-top: 1em;
    font-size: 1.7em;
    font-weight: lighter;
    opacity: 0.8;
}

#weather-widget {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.headlines-pic {
    float: left;
    height: 120px;
    width: 160px;
    padding-right: 2%;
}

.news-at-end {
    padding-bottom: 2%;
    opacity: 0.8;
}

/*for tablet mode*/

@media only screen and (max-width:768px) and (min-width:426px) {
    .logo {
        width: 6em;
        height: 6em;
        padding-right: 5%;
        padding-top: 4%;
    }
    .title {
        margin-top: 1.5em;
        font-size: 210%;
    }
    .headlines {
        font-size: 1.3rem;
        opacity: 1;
    }
    .news {
        font-size: 0.8rem;
        opacity: 1;
    }
    #for-responsive-view {
        display: flex;
        flex-wrap: wrap;
    }
    figure {
        order: 1;
        width: 50%;
    }
    figcaption {
        background-color: black;
        color: white;
        opacity: 0.8
    }
    #top-news-details {
        order: 3;
        width: 100%;
    }
    #score-table {
        order: 4;
    }
    #weather {
        order: 2;
        width: 39%;
        margin-top: 8%;
    }
}

/*for mobile mode*/

@media only screen and (max-width:425px) {
    .logo {
        width: 3em;
        height: 3em;
    }
    .title {
        font-size: 1.5em;
    }
    .bar {
        visibility: visible;
        opacity: 0.5;
        margin-top: 3%;
        color: black;
    }
    .top-menu, .top-news {
        display: none;
    }
    .headlines {
        font-size: 1.3rem;
        opacity:1;
    }
    .news {
        font-size: 0.8rem;
        opacity:1;
    }
    h2 {
        font-size: 1.2rem;
    }
    figcaption {
        background-color: black;
        color: white;
        opacity: 0.8
    }
    .top-news, .latest-news-row, .contact-us {
        font-size: 0.8rem;
    }
    #top-news-details {
        width: 100%;
        font-size: 0.75em;
        opacity: 0.7;
    }
    .news-at-end {
        font-size: 0.9em;
    }
}